{{mb-subscribe action="subscribe"}}

<div class="ui horizontal divider"></div>

<div class="ui center aligned container">
  <h1>Podcasts</h1>
</div>

{{#each model as |podcast|}}
  <div class="ui segment">
    <button class="ui icon right floated button" {{action "unsubscribe" podcast}}>
      <i class="red window close icon"></i>
      Unsubscribe
    </button>
    <h3 class="ui dividing header">
      Titile:
      {{#link-to "podcasts.show.entries" podcast}}
        {{podcast.title}}
      {{/link-to}}
    </h3>
    
    {{mb-podcast podcast=podcast}}
  </div>
{{/each}}

<div class="ui horizontal divider"></div>

<div class="ui right aligned container">
  {{mb-pagination-buttons 
      route="podcasts.index" 
      pagination=model.meta.pagination}}
</div>

<div class="ui horizontal divider"></div>